route:
  receiver: "slack-notifications"

receivers:
  - name: "slack-notifications"
    slack_configs:
      - send_resolved: true
        channel: "#devops-alerts"
        username: "PrometheusBot"
        icon_emoji: ":rotating_light:"
        api_url: "https://dummy-webhook.com/slack"
